// Foundation palette
$white: #ffffff;
$black: #000000;

// Main palette
$ash-100: #f3f4f7;
$ash-200: #dbdfe6;
$ash-300: #abb5c4;
$ash-400: #94a1b3;
$ash-500: #7c8ca2;
$ash-600: #556377;
$ash-700: #4c596b;
$ash-800: #333c48;
$ash-900: #222830;
$ash-950: #111418;

$fade: linear-gradient(180deg, rgba(34, 40, 48, 0) 40.12%, rgba(0, 0, 0, 0.84) 100%);