@import 'mixins';
@import 'palette';
@import 'fonts';

.results {
	height: 40vh;
	width: 100%;
	@include col-center;

	.message {
		@include title;
	}
}

#location {
	@include grid-three;
	@include link;

	.link {
		@include link;
    height: 10rem;

		.title {
			@include link;
      @include title;
      color: $ash-500;
		}
	}
}
