@font-face {
	font-family: 'BebasNeue Bold';
	src: url('../../assets/fonts/bebasneue_bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue Book';
	src: url('../../assets/fonts/bebasneue_book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue Light';
	src: url('../../assets/fonts/bebasneue_light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue Regular';
	src: url('../../assets/fonts/bebasneue_regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue Thin';
	src: url('../../assets/fonts/bebasneue_thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

$bold: 'BebasNeue Thin', cursive;
$light: 'BebasNeue Light', cursive;
$book: 'BebasNeue Book', cursive;
$regular: 'BebasNeue Regular', cursive;
$bold: 'BebasNeue Bold', cursive;
$lato: 'Lato', sans-serif;
