{% extends 'den/base.html' %} {% block content %}
<section id="detail">
	<div class="shot">
		<img class="image" src="{{category.image.url}}" alt="{{category.title}}" />
	</div>

	<div class="content">
    <h4 class="genus">{{category.genus}}</h4>
    <h1 class="title">{{category.title}}</h1>
		<p class="caption">{{category.caption}}</p>
		
	</div>
</section>
</section>
<section id="section">
	<h1 class="stitle">{{category.title}} shots</h1>
	{% if cats %}
	<div id="latest">
		{% for cat in cats %}
		<a id="cat" href="{% url 'detail' cat.category.url cat.id %}">
			<div class="wrapper">
				<img class="image" src="{{cat.image.url}}" alt="{{cat.title}}" />
			</div>
			<div class="content">
				<div class="top">
          <p>{{cat.location.title}}</p>
					<p>{{cat.category.title}}</p>
				</div>
				<h4 class="title">{{cat.title}}</h4>
			</div>
		</a>
		{% endfor %}
	</div>
	{% else %}
	<p>No big cats available</p>
	{% endif %}
</section>
{% endblock %}