{% extends 'den/base.html' %} {% block content %}
<section id="detail">
	<div class="shot">
		<img
			class="image"
			src="https://res.cloudinary.com/devmiano/{{category.image}}"
			alt="{{category.title}}"
		/>
	</div>

	<div class="content">
		<h4 class="genus">{{category.genus}}</h4>
		<h1 class="title">{{category.title}}</h1>
		<p class="caption">{{category.caption}}</p>
	</div>
</section>
<section id="section">
	<h1 class="stitle">{{category.title}} shots</h1>
	{% if cats %} {% include 'den/cats.html' with cats=cats %} {% else %}
	<p>No big cats available</p>
	{% endif %}
</section>
{% endblock %}
