<div id="latest">
	{% for cat in cats %}
	<a href="#{{cat.id}}" id="cat" rel="modal:open">
		<div class="wrapper">
			<img
				class="image"
				src="https://res.cloudinary.com/devmiano/{{cat.image}}"
				alt="{{cat.title}}"
			/>
		</div>
		<div class="content">
			<div class="top">
				<p class="location">{{cat.location.title}}</p>
				<p class="category">{{cat.category.title}}</p>
			</div>
			<h4 class="title">{{cat.title}}</h4>
		</div>
	</a>
	<div id="{{cat.id}}" class="modal cat-modal">
		<a id="cat" href="{% url 'detail' cat.category.url cat.id %}">
			<div class="wrapper">
				<img
					class="image"
					src="https://res.cloudinary.com/devmiano/{{cat.image}}"
					alt="{{cat.title}}"
				/>
			</div>
			<div class="content">
				<div class="top">
					<p class="location">{{cat.location.title}}</p>
					<p class="category">{{cat.category.title}}</p>
				</div>
				<h4 class="title">{{cat.title}}</h4>
			</div>
		</a>
		<div id="cta">
			<a class="share" href="{% url 'detail' cat.category.url cat.id %}"
				>Details</a
			>
			<a class="close" href="#" rel="modal:close">Close</a>
		</div>
	</div>
	{% endfor %}
</div>
