{% extends 'den/base.html' %} {% block content %}
<section id="detail">
	<div class="shot">
    {% load static %}
		<img class="image" src="{% static 'den/assets/images/hero-lion-five.png' %}" alt="location" />
	</div>

	<div class="content">
    <h4 class="genus">location</h4>
    <h1 class="title">{{location.title}}</h1>
	</div>
</section>
<section id="section">
	<h1 class="stitle">{{location.title}} shots</h1>
	{% if cats %}
	{% include 'den/cats.html' with cats=cats %}
	{% else %}
	<p>No big cats available</p>
	{% endif %}
</section>
{% endblock %}